*{
    margin: 0px;
    border: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #ffff21;
}

.header{
    padding: 75px;
    background: #f7f7f7;
    -ms-layout-grid-line: 100px;  
}

img{
    position: absolute;
    top: 0px;
    left: 1000px;
    float:inline-end;
}

#menu ul{
    padding: 25px;
    margin: 0px;
    list-style-type: none;
    background-color:#272822;
}

#menu ul li { 
    
    display: inline; 
    font-size: 24px;
}

#menu li a {
    padding: 2px 10px;
    display: -webkit-inline-box;
    position: relative;
    left: 100px;
    background-color:#333;
	color: #EDEDED;
	text-decoration: none;
	border-bottom:3px solid #333;
}


.body{
    margin:auto;
    width: 960px;
}

.conteudo{
    display: table;
}


.video{
    display: table-cell;
    margin-right: 160px;
    margin-top: 60px;
    float: left;
    
}

.texto{
    margin-top: 60px;
    display: table-cell;
    width: 280px;
    float: left;

    

}

.end{
    background-color: #f7f7f7;
    padding: 75px;
}
